<section class="cover">
	<div class="container back fix">

		<div class="row heading">
			<div class="col-md-12 head mt-15">
				<h3><strong>Life Goal Calculator</strong></h3>
			</div>
		</div>

		<div class="container progressbars">
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="progressbar">
						<li class="active"><strong>Enter <br>Details</strong></li>
						<li class="active"><strong>Select & <br>Prioritize Goals</strong></li>
						<li><strong>Calculate Goal <br>Values</strong></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">

			<div class="col-md-12 text-center gallary">
		
				<div class="goals">
					<p><b>SELECT GOALS</b></p>
					<span class="validation-next">{{errorMsg}}</span>
					<span class="validation-next">{{msg}}</span>
				</div>
				<div class="flex-grid my-goals">

					<div *ngFor="let goal of goals">

						<li><a (click)="addgoal(goal.type)">
								<div class="img-div"> <img src="{{goal.src}}"></div>
							</a>
							<p>{{goal.type}}</p>
						</li>

					</div>
				</div>
			
				<div *ngIf='selectedGoal.length < 3'>
					<li><a (click)="openGoal()">
							<div class="img-div-style"><img src="{{othergoalImg}}">

							</div>

						</a>
						<p style="margin-top: -8px;"><span *ngIf="!showInput" style="color: #ffff">Add Custom
								Goal</span>
						</p>
						<div *ngIf="showInput" class="input-group">
							<input *ngIf="showInput" type="text" id="adding-goals" class=" form-control"
								name="goalValue" [(ngModel)]='goalValue' placeholder="Add Custom Goal"
								autocomplete="off">
							<span class="input-group-btn" style="margin-left:20px;">
								<button type="button" class="btn-default" *ngIf="showInput"
									(click)="addCustomGoal(goalValue)">Add Goal</button>
							</span>
						</div>
					</li>
				</div>
			</div>


		</div>

		<div class="lastbtns">
			<div class="row">
				<div class="col-md-12">
				
					<a><button type="button" class="btn nextbtn" (click)="data()"><b>Next</b></button></a>
				</div>
			</div>
		</div>
	</div>

</section>