<section id="footer">
    <div class="container">
    <div class="row">

    <div class="col-md-8">
        <!--<img src="img/demo.png">-->
        <div class="footer">
        <p><b>@ 2020 All Rights Reserved, Aditya Birla Management Corporation Pvt. Ltd.</b></p>
        <ul>
        <li><a href="#">Terms and Conditions</a></li>
        <li><a href="#">LEARN MORE</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Blog</a></li>
        </ul>
        </div>
    </div>

            <div class="col-md-4">
                 <div class="footer-icons">
                 <i class="fa fa-facebook"></i>
                 <i class="fa fa-twitter"></i>
                 <i class="fa fa-instagram"></i>
                 <i class="fa fa-youtube-play"></i>
                 <i class="fa fa-linkedin"></i>
                 </div>
            </div>
    </div>
    
    
    </div>
</section>
