<section class="cover">
	<div class="container back fix">

		<div class="row heading">
			<div class="col-md-12 head mt-15">
				<h3><strong>Life Goal Calculator</strong></h3>
			</div>
		</div>

		<div class="container progressbars">
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="progressbar">
						<li class="active"><strong>Enter <br>Details</strong></li>
						<li class="active"><strong>Select & <br>Prioritize Goals</strong></li>
						<li class="active"><strong>Calculate Goal <br>Values</strong></li>
					</ul>
				</div>
			</div>
		</div>

		<!-------start form------------->
		<div class="row goals">
			<div class="col-md-12 goals-style">
				<ul>
					<li *ngFor="let goal of selectGoal; let goalIndex = index"> <a
							(click)="onGoalClick(goal.goals, goalIndex, goal.goal_id, goal.age)">
							<span class="notify-badge">{{goalIndex + 1}}</span>
							<img [src]="images[goalIndex]"></a>
						<p>{{goal.goals}}</p>
					</li>

				</ul>
			</div>

		</div>

		<div class="hr">
			<hr>
		</div>

	

		<div class="dropdown-style" *ngIf="isFormReady">
			<form [formGroup]="dynamicGoalForm" (ngSubmit)="calculateFunction()">

				<div class="row">
					<ng-container *ngFor="let ques of questions; let questionIndex = index">


						<div class="col-md-4 col-sm-6  dropdowns" *ngIf="ques.flag == 'display'">
							<!-- <p>{{ques.name}}</p> -->
							<div>
								<div [ngSwitch]="ques.controlType">

									<div *ngSwitchCase="'text'">
										<p>{{ques.name}}</p>
										<div class="dropdown">
											<!-- <p> -->
											<input formControlName="{{ques.variableName}}" name="{{ques.variableName}}"
												style="width:210px; border:none; color:coral;height:35px; border-radius:50px; padding:0px 10px; margin:0px"
												type="text" placeholder="{{ques.placeholder}}" autocomplete="off"
												[readonly]='ques.disabled'>

											<div *ngIf="ques.hasOtherInput">
												<div
													*ngIf="dynamicGoalForm.controls[questions[questionIndex+1]['variableName']].errors && (dynamicGoalForm.controls[ques.variableName].touched)">
													<div *ngIf="ques.hasRequired">
														<div class="dropdown-validation"
															*ngIf="dynamicGoalForm.controls[questions[questionIndex+1]['variableName']].errors?.required">
															{{validation(questions[questionIndex+1]['validation'], 'required' )}}
														</div>
													</div>

													<div class="dropdown-validation mrgBtn-0"
														*ngIf="dynamicGoalForm.controls[questions[questionIndex+1]['variableName']].errors?.pattern">
														{{validation(questions[questionIndex+1]['validation'], 'pattern' )}}
													</div>
												</div>

											</div>
											<div *ngIf="!ques.hasOtherInput">

												<div
													*ngIf="dynamicGoalForm.controls[ques.variableName].errors && (dynamicGoalForm.controls [ques.variableName].touched)">
													<div>
														<div class="dropdown-validation"
															*ngIf="dynamicGoalForm.controls[ques.variableName].errors.required">
															<p>{{validation(ques.validation, 'required' )}}</p>

														</div>
														<div class="dropdown-validation mrgBtn-0"
															*ngIf="dynamicGoalForm.controls[ques.variableName].errors?.pattern">
															{{validation(ques.validation, 'pattern' )}}
														</div>
													</div>

												</div>

											</div>
											<!-- </p> -->
										</div>

									</div>


									<div *ngSwitchCase="'dropdown'">
										<p>{{ques.name}}</p>
										<div class="dropdown">
											<select *ngIf="ques.options" formControlName="{{ques.variableName}}"
												class="dropdown-toggle" type="text" data-toggle="dropdown"
												aria-haspopup="true" aria-expanded="false">
												<option value="" disabled>{{ques.placeholder}}</option>
												<option value="{{option.value}}" *ngFor="let option of ques.options; ">
													{{option.name}}
												</option>
											</select>
											<div *ngIf="dynamicGoalForm.controls[ques.variableName].invalid">
												<div class="dropdown-validation"
													*ngIf="dynamicGoalForm.controls[ques.variableName].touched && 
                                                            dynamicGoalForm.controls[ques.variableName].errors.required">
													{{validation(ques.validation, 'required' )}}

												</div>
											</div>


										</div>


									</div>



								</div>
							</div>


						</div>
					</ng-container>
				</div>
			</form>
		</div>

		

		<div *ngIf="!showButton" class="row lastbtns">
			<div class="twobtn col-md-12">
				<p ><span style="color:#8B0000 !important">{{msg}}</span></p>
				<button type="button" class="btn nextbtn" (click)="calculateFunction()"><b>Calculate</b></button>
			</div>
		</div>


		<div *ngIf="showButton" class="row offer">
			<div class="subscribe" [innerHTML]="desc">
				<!-- <P>{{description}}</P> -->
			</div>
		</div>


		<div *ngIf="showButton" class="row lastbtns">
			<div class="twobtn col-md-12">
				<a><button type="button" class="btn nextbtn" (click)="Replan()"><b>REPLAN</b></button></a>
				<a><button type="button" class="btn nextbtn" (click)="SubmitGoalsData()"><b>NEXT</b></button></a>
			</div>
		</div>

	</div>
</section>