
	<section class="cover">
		<div class="container back fix">
			<div class="row heading">
				<div class="col-md-12 head mt-15">
					<h3>Your Life Goal Sheet</h3>
				</div>
				<div class="col-md-12 head-style">
					<p>Hi <span style="color: #8B0000">{{username}}</span>, to reach your life goals, you would need to start SIPs of <span
							style="color: #8B0000"> ₹{{amount}}</span>. Here’s<br>
						the break-up of your goals based on the goal timeline.</p>
				</div>

				<!-- <div *ngIf="shortGoal.length > 0"> -->
				<div *ngIf="shortGoal.length > 0" class="col-md-12 short">
					<h1>Short Term Goals</h1>
					<div *ngFor="let short of shortGoal; first as isFirst; let i=index">
						<div class="row">
							<div class="col-md-6">
								<div class="testimonials clearfix">
									<div class="img-style">

										<img [src]="shortGoalImages[i]" class="img-fluid">
										{{short.goals}}
									</div>

									<div class="short-details">
										<p>To achieve this goal you need<br>to start a monthly SIP of</p>
										<button style="width:150px" type="button" class="btns"><b>₹ {{getGoalAmt(short.result)}}
											</b></button>
									</div>
								</div>
							</div>
							<div *ngIf="isFirst" class="col-md-6 testimonials_style">
								<p>Indicative Asset Allocation</p>
								<img src="./assets/img/piechart1.png">
							</div>
						</div>
					</div>
				</div>

				<div class="hr">
					<hr>
				</div>

				<div *ngIf="midGoal.length" class="col-md-12">
					<hr color="white" style="width: auto;height: 1px;margin:0px 20px;">
				</div>

				<div *ngIf="midGoal.length > 0" class="col-md-12 short">
					<h1>Mid Term Goals</h1>

					<div *ngFor="let goal of midGoal; first as isFirst; let i=index">
						<div class="row">
							<div class="col-md-6">
								<div class="testimonials clearfix">
									<div class="img-style">
										<img [src]="midGoalImages[i]" class="img-fluid">
										{{goal.goals}}
									</div>
									<div class="short-details">
										<p>To achieve this goal you need<br>to start a monthly SIP of</p>
										<button style="width:150px" type="button" class="btns"><b>₹ {{getGoalAmt(goal.result)}}</b></button>
									</div>
								</div>
							</div>
							<div *ngIf="isFirst" class="col-md-6 testimonials_style">
								<p>Indicative Asset Allocation</p>
								<img src="./assets/img/piechart2.png">
							</div>
						</div>
					</div>
				</div>

				<div *ngIf="longGoal.length" class="col-md-12">
					<hr color="white" style="width: auto;height: 1px;margin:0px 20px;">
				</div>

				<div *ngIf="longGoal.length > 0" class="col-md-12 short">
					<h1>Long Term Goals</h1>
					<div *ngFor="let goal of longGoal; first as isFirst; let i = index">
						<div class="row">

							<div class="col-md-6">
								<div class="testimonials clearfix">
									<div class="img-style">
										<img [src]="longGoalImages[i]" class="img-fluid">
										{{goal.goals}}
									</div>
									<div class="short-details">
										<p>To achieve this goal you need<br>to start a monthly SIP of</p>
										<button style="width:150px" type="button" class="btns"><b>₹ {{getGoalAmt(goal.result)}}</b></button>
									</div>
								</div>
							</div>
							<div *ngIf="isFirst" class="col-md-6 testimonials_style">
								<p>Indicative Asset Allocation</p>
								<img class="img-fluid" style="margin-top: 0px !important;"
									src="./assets/img/piechart3.png">
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="row">
					</hr>
					</div> -->


				<div class="buttons_style col-md-12 text-center">
					<a><button type="button" class="btn allbtn" (click)="Replan()">REPLAN</button></a>
					<!-- <a><button type="button" class="btn allbtn" (click)="download()">DOWNLOAD</button></a> -->
					<a><button type="button" class="btn allbtn" (click)="share()">SHARE</button></a>
					<a><button type="button" class="btn allbtn" (click)="email()">EMAIL</button></a>
					<a><button type="button" class="btn allbtn" (click)="printPage()">DOWNLOAD/PRINT</button></a>
					<a><button type="button" class="btn allbtn" (click)="restart()">RESTART</button></a>
				</div>


				<div class="offer">
					<div class="col-md-12 Disclaimer ">
						<P><span>Disclaimer:</span><br>
							*For more details on the CSIP facility please refer to the SID or KIM of the Plan.
							The
							calculator is based on assumed rate of returns and is meant for illustration
							purposes only
							and takes a<br>
							time frame of upto 30 years . The calculations are not based on any judgments of
							future
							returns and should not be construed as a promise on minimum returns and/or safeguard
							of
							capital.<br>
							Calculations made are approximations, meant as guidelines only. The calculator alone
							is not
							sufficient and shouldn’t be used for the development or implementation of an
							investment<br>
							strategy. The statements contained herein are based on our current views and involve
							known
							and unknown risks and uncertainties that could cause actual results, performance or
							events<br>
							to differ materially from those expressed or implied herein. Past Performance may or
							may not
							be sustained in future. Aditya Birla Sun Life Mutual Fund / Aditya Birla Sun Life
							AMC<br>
							Limited makes no warranty about the accuracy of the calculator and data and will not
							accept
							any liability/responsibility/loss incurred<br>
							on any investment decision taken on the basis of this information. Investment in
							Mutual Fund
							Schemes carry high risk and any investment decision needs to be taken only are
							consulting<br>
							the Tax Consultant or Financial Advisor. Mutual Fund investments are subject to
							market
							risks, read all scheme related documents carefully.</P>
					</div>
				</div>


			</div>
		</div>
	</section>

